*.dcu
*.local
*.identcache
*.tvsconfig
*.stat
*.ddp
*.~*
__history/
__recovery/
ModelSupport_*/
#Win32/
Win64/
*.exe
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.ipa
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite

# Файлы сессии "DB Browser for SQLite" (просто список открытых вкладок
# на конкретном компьютере) — не имеют отношения к самому проекту.
*.sqbpro
